## Creating Pandas Series

In [ ]:
# Import Pandas
import pandas as pd

# Pandas adds two more data structures to Python:   1. Series
#                                                   2. Dataframe

# Series

groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])

In [46]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [47]:
groceries.shape

(4,)

In [48]:
groceries.ndim

1

In [49]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [50]:
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

In [51]:
'eggs' in groceries

True

In [52]:
groceries['eggs']

30

In [53]:
# Elements access using .loc() & .iloc()

In [54]:
groceries.iloc[0]

30

In [55]:
groceries.loc[['eggs','apples']]

eggs      30
apples     6
dtype: object

In [56]:
groceries.iloc[[2,3]]

milk     Yes
bread     No
dtype: object

In [36]:
# Modifying values

In [37]:
groceries['eggs'] = 2

In [38]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [41]:
groceries.drop('apples', inplace=True)

In [42]:
groceries

eggs       2
milk     Yes
bread     No
dtype: object

## Accessing Series Elements

##### Example 1. Access elements using index labels

In [57]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

Do we need bread:
 bread    No
dtype: object

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

##### Example 2. Mutate elements using index labels

In [58]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 2

# We display the changed grocery list
print()
print('Modified Grocery List:\n', groceries)

Original Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Modified Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

##### Example 3. Delete elements out-of-place using `drop()`

In [59]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list. The drop function removes elements out of place
print()
print('We remove apples (out of place):\n', groceries.drop('apples'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples out of place:\n', groceries)

Original Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

We remove apples (out of place):
 eggs       2
milk     Yes
bread     No
dtype: object

Grocery List after removing apples out of place:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

We can delete items from a Pandas Series in place by setting the keyword ``inplace`` to ``True`` in the ``.drop()`` method. Let's see an example:

##### Example 4. Delete elements in-place using `drop()`

In [60]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list in place by setting the inplace keyword to True
groceries.drop('apples', inplace = True)

# When we remove elements in place the original Series its modified. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples in place:\n', groceries)

Original Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

Grocery List after removing apples in place:
 eggs       2
milk     Yes
bread     No
dtype: object

## Creating Pandas DataFrames

### Create a DataFrame manually using `pd.DataFrame()`

1. The first step is to create the dictionary of Pandas Series.
2. After the dictionary is created we can then pass the dictionary to the ``pd.DataFrame()`` function.

In [61]:
# We import Pandas as pd into Python
import pandas as pd

# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))

<class 'dict'>

#### Example 1. Create a DataFrame using a dictionary of Series.

In [64]:
shopping_cart = pd.DataFrame(items)
shopping_cart

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

#### Example 2. DataFrame assigns the numerical row indexes by default.

In [65]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

#### Example 3. Demonstrate a few attributes of DataFrame

In [67]:
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_cart.shape)
print('shopping_carts has dimension:', shopping_cart.ndim)
print('shopping_carts has a total of:', shopping_cart.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_cart.values)
print()
print('The row index in shopping_carts is:', shopping_cart.index)
print()
print('The column index in shopping_carts is:', shopping_cart.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

When creating the ``shopping_cart`` DataFrame we passed the entire dictionary to the ``pd.DataFrame()`` function. However, there might be cases when you are only interested in a subset of the data. Pandas allows us to select which data we want to put into our DataFrame by means of the keywords ``columns`` and ``index``. Let's see some examples:

In [68]:
# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

#### Example 4. Selecting specific rows of a DataFrame

In [69]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

#### Example 5. Selecting specific columns of a DataFrame

In [70]:
# We Create a DataFrame that only has selected items for Alice
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

# We display alice_sel_shopping_cart
alice_sel_shopping_cart

         Alice
glasses    110
bike       500

#### Example 6. Create a DataFrame using a dictionary of lists

In [71]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame 
df = pd.DataFrame(data)

# We display the DataFrame
df

   Integers  Floats
0         1     4.5
1         2     8.2
2         3     9.6

#### Example 7. Create a DataFrame using a dictionary of lists, and custom row-indexes (labels)

In [72]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

#### Example 8. Create a DataFrame using a of list of dictionaries