In [45]:
# Import Pandas
import pandas as pd

# Pandas adds two more data structures to Python:   1. Series
#                                                   2. Dataframe

# Series

groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])

In [46]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [47]:
groceries.shape

(4,)

In [48]:
groceries.ndim

1

In [49]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [50]:
groceries.values

array([30, 6, 'Yes', 'No'], dtype=object)

In [51]:
'eggs' in groceries

True

In [52]:
groceries['eggs']

30

In [53]:
# Elements access using .loc() & .iloc()

In [54]:
groceries.iloc[0]

30

In [55]:
groceries.loc[['eggs','apples']]

eggs      30
apples     6
dtype: object

In [56]:
groceries.iloc[[2,3]]

milk     Yes
bread     No
dtype: object

In [36]:
# Modifying values

In [37]:
groceries['eggs'] = 2

In [38]:
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [41]:
groceries.drop('apples', inplace=True)

In [42]:
groceries

eggs       2
milk     Yes
bread     No
dtype: object

## Accessing Series Elements

##### Example 1. Access elements using index labels

In [57]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

Do we need bread:
 bread    No
dtype: object

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

##### Example 2. Mutate elements using index labels

In [58]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 2

# We display the changed grocery list
print()
print('Modified Grocery List:\n', groceries)

Original Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Modified Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

##### Example 3. Delete elements out-of-place using `drop()`

In [59]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list. The drop function removes elements out of place
print()
print('We remove apples (out of place):\n', groceries.drop('apples'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples out of place:\n', groceries)

Original Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

We remove apples (out of place):
 eggs       2
milk     Yes
bread     No
dtype: object

Grocery List after removing apples out of place:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

We can delete items from a Pandas Series in place by setting the keyword ``inplace`` to ``True`` in the ``.drop()`` method. Let's see an example:

##### Example 4. Delete elements in-place using `drop()`